body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #324350;
    text-align:center;
}

.imageDiv img {
    border-radius: 30%;
    border: 2px solid red;
    margin-bottom: 5px;
}

.contentDiv {
    margin: 0% 10% 0% 10%;
    line-height: 1.5rem;
    font-family: Seravek;
    background: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    text-align:center;
    border: 2px solid red;

}



.bottomMessage {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: red;
    text-align: center;
    font-family: Seravek;

}